<!-- <h1>Ciclos de Vida en Angular</h1>
<button (click)="mostrar=!mostrar" >Cerrar</button>
<app-pg1 *ngIf="mostrar" ></app-pg1> -->

<p><iframe width="560" height="315" [src]="video| safeDOM:'https://www.youtube.com/embed/'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

<h2>Pipe Clave Encriptada</h2>

<tr>
  <td> My password: </td>
  <td>
    encrypt:{{ enable }}
    <button class="btn btn-info" (click)="enable = !enable">
    <p *ngIf="enable" class="mb-0">Show password </p>
    <p *ngIf="!enable" class="mb-0">Hide password </p>
  </button>
  </td>
  <td>{{ password | encrypt:enable }} </td>
</tr>
